
<div class = "techBlogDiv">
            <a id = "changeAble" class = "techBlog">The Tech Blog</a>
 </div>
<form class = "logInForm">
    <div class = "signUp">Log In</div>
    <div class = "signUpInfo">
        <label for="username">username:</label>
        <br>
        <input type="text" id = "usernameL"/>
    
        <label for="password">password:</label>
        <br>
        <input type="text" id = "passwordL"/>
        <button>Log In!</button>
        <a href="/signup">Signup Instead</a>
        <div class="fill"></div>
    </div>
    
</form>
<script src="/javascript/login.js"></script>