
<div class = "dash">
<article class = 'newPost'>
    <div class = "edit">
        <p class = "userInfo">Create New Post</p>
    </div>
    <form class = "content">
            <label class = "label" for="">Title</label>
            <br>
            <input type="text" id="newTitle" value="">
            <br>
            <label class = "label"for="">Content</label>
            <br>
            <input type="text" id="newContent" value="">
            <div class = "btn">
              <button id = "create" class = "deleteUpdateBtn" type = "click">Create</button>
            </div>
    </form>    
</article>

<button class = "createBtn">+ New Post</button>
</div>
<script src="/javascript/add-post.js"></script>