
<div class = "techBlogDiv">
            <a id = "changeAble" class = "techBlog">The Tech Blog</a>
 </div>
<form class = "signUpForm">
    <div class = "signUp">Sign Up</div>
    <div class = "signUpInfo">
        <label for="username">username:</label>
        <br>
        <input type="text" id = "usernameS"/>
    
        <label for="password">password:</label>
        <br>
        <input type="text" id = "passwordS"/>
        <button>Sign Up!</button>
        <a href="/login">Login Instead</a>
        <div class="fill"></div>
    </div>
</form>
<script src="/javascript/signup.js"></script>