*{
    font-family: 'Roboto', sans-serif;
}

:root {
    --darkBrown: #231010; 
    --mint:#d9ead3;
    --backgroundGrey:#646363;
    --titleWordsGrey: #d8cbcb;
}

a {
text-decoration: none;
color: var(--mint);
}
header{
    background-color: var(--darkBrown);
    
    padding: 15px;
    height: auto;
}
nav{
    /*display: flex;
    justify-content: space-between;
    width: 190px;*/
    margin-left: 15px;
    
    font-size: 10px;
    
}
nav a{
    margin-right: 20px;
}
body {
    background-color: var(--mint); 
    margin: 0;
}
html{
    min-height: 100%;
    height: auto;
    border: white solid 10px;
   
}
.post-list{
width: 93%;
list-style: none;
margin-left: auto;
margin-right: auto;

}
ul{
    padding: 0px;
}
.post-item{
    border: var(--darkBrown) solid 2px;
    margin-bottom: 20px;
}

.title{
    color: var(--mint);
    background-color: var(--darkBrown);
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px;
    margin-top: -1px;

}
.title a{
    font-size: 13px;
    margin-left: 10px;
    color: var(--titleWordsGrey);

}
.userInfo{
    margin: 0px;
    font-size: 9px;
    margin-top: 4px;
}
.techBlog {
    font-size: 20px;
    color: var(--darkBrown);
    background-color: var(--mint);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 7px;
    box-shadow: 3px 3px grey;
    margin-left: 30px;
    
  
}
.techBlogDiv{
        display: block;
        margin-bottom: 10px;
        height: 45px;
        background-color: var(--darkBrown);
        padding-top: 5px;

        
      
       
}

.content{
    height: auto;
}
.content p{
    font-size: 11px;
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 12px;
}
/****************************************/
.signUpForm{
    border: var(--darkBrown) solid 2px;
    width: 93%;
    list-style: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.logInForm{
    border: var(--darkBrown) solid 2px;
    width: 93%;
    list-style: none;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.signUpForm button{
    margin-top: 7px;
    background-color:var(--backgroundGrey);
    height: 25px;
    border: none;
    border-radius: 5px;
    width: 99%;
    color: var(--titleWordsGrey);
    font-size: 12px;
    margin-bottom: 5px;
    height: 30px;
}
.logInForm button{
    margin-top: 7px;
    background-color: var(--backgroundGrey);
    height: 25px;
    border: none;
    border-radius: 5px;
    width: 99%;
    color: var(--titleWordsGrey);
    font-size: 12px;
    margin-bottom: 5px;
    height: 30px;
}
.signUp{
    color: var(--mint);
    background-color: var(--darkBrown);
    height: auto;
    padding: 9px 9px 9px 15px;
    margin: -1px;
    font-size: 13px;
    
}
.signUpInfo{
padding: 10px;
margin-left: 5px;
}
.signUpForm a{ 
    color: blue;
    font-size: 13px;
    margin-bottom: 7px;

}
.logInForm a{ 
    color: blue;
    font-size: 13px;
    margin-bottom: 7px;

}
#usernameS{
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: none;
}
#passwordS{
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: none;

}#usernameL{
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: none;
}
#passwordL{
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    border: none;

}
.fill{
    margin-top: 10px;
}
/********************************************************/
.dashboardList {
        background-color: var(--backgroundGrey);
        color: var(--titleWordsGrey);
        border: none;
        border-radius: 5px;
        width: 99%;
        font-size: 12px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
        margin-bottom: 20px;
}
.dashboardList a {
    color: var(--titleWordsGrey);
    margin-left: 5px;
}
.dashboardUserInfo{
    margin: 0px;
    font-size: 11px;
    margin-right: 5px;
}
/**********************************************/
.editPost{
    margin-top: 20px;
    border: var(--darkBrown) solid 2px;
    font-size: 13px;
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
.edit{
    
    background-color: var(--darkBrown);
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px;
    margin: -1px;

}
.edit p{
    color: var(--mint);
    font-size: 12px;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    
}
.content{
    height: auto;
    margin-bottom: 16px;
    margin-top: 12px;
}
.content input{
    font-size: 11px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: auto;
    width:95%;
    margin-top:5px;
    overflow: visible;
}
.label{
    margin-left: 15px;
}
.deleteUpdateBtn {
    background-color: var(--backgroundGrey);
    color: var(--titleWordsGrey);
    border: none;
    border-radius: 5px;
    width: 96%;
    font-size: 12px;
    height: 25px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.btn{
    margin-top: 15px;
}
/***************************************************/
.comment-list{
    width: 100%;
    list-style: none;
    display: block;
    
    }
    .commentTitle{
        height: 12px;
        color: var(--mint);
        background-color: var(--darkBrown);
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-top: -1px;
    }
    .commentContent p{
        font-size: 11px;
        padding: 5px;
        margin: 5px;
        margin-left: 10px;
        
    }
    .commentContent{
        height: auto;
        margin-bottom: 16px;
        margin-top: 18px;
    }
    .commentContent input{
        font-size: 11px;
        padding: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: none;
        padding-bottom: 40px;
        width:95%;
        margin-top:5px;
        overflow: visible;
      
   
    }
    .comment-list button{
        margin-top: 7px;
        background-color:var(--backgroundGrey);
        height: 25px;
        border: none;
        border-radius: 5px;
        width: 97%;
        color: var(--titleWordsGrey);
        font-size: 12px;
        margin-bottom: 10px;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    /*****************************************************/
    .dash{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        align-items: center;
        height: 100%;
        clear: both;
    }
    .createBtn{
        background-color: var(--darkBrown);
        color:var(--titleWordsGrey);
        border: none;
        border-radius: 10px;
        padding: 6px;
        padding-right: 10px;
        font-size: 15px;
        
    }
    /**********************************************/
    .newPost{
        margin-top: 20px;
        border: var(--darkBrown) solid 2px;
        font-size: 13px;
        width: 93%;
        margin-bottom: 20px;
    }
    .master{
    display: flex;
justify-content: center;
}